CHATS_API_URL=
CHATS_WEBSOCKET_URL=
CHATS_ENVIRONMENT=
DESK_COPILOT_LEARN_MORE_URL=
FLOWS_API_URL=
KEYCLOAK_ISSUER=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_REALM=
COPILOT_MOCK_SOCKET_URL=
COPILOT_MOCK_HOST=
COPILOT_MOCK_CHANNEL_UUID=
COPILOT_MOCK_CALLBACK_URL=
COPILOT_MOCK_PRINCIPAL_CONNECTIONS=