@import 'utils';

* {
  box-sizing: border-box;
}

html,
input,
textarea {
  font-family: $unnnic-font-family-secondary, sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $unnnic-font-weight-regular;
}
